.App {
  color: white;
  height: 100vh;
}

.point {
  display: flex;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: aqua;
  border-radius: 50%;
}

.btn {
  width: 65px;
  height: 25px;
}